body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 20px;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}

h2 {
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: black;
}

input[type="text"],
input[type="email"],
input[type="telefono"],
input[type="numvehiculos"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.checkbox-group label {
    display: block;
    font-weight: normal;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

button {
    width: 100%;
    background-color: #333;
    color: white;
    border: none;
    padding: 15px;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}

input[type="checkbox"] {
    margin-right: 10px;
}

form div:last-of-type {
    margin-top: 20px;
}

.check-text {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.check-text input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}
