.frame-936,
.frame-936 * {
  box-sizing: border-box;
}
.frame-936 {
  height: 2905px;
  position: relative;
}
.diana-sobre-nosotros {
  position: absolute;
  inset: 0;
}
.diana-sobre-nosotros2 {
  background: var(--bg, #ffffff);
  width: 1440px;
  height: 2905px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.top-header {
  background: #a2a5a7;
  border-style: solid;
  border-color: #7f7373;
  border-width: 1px;
  width: 1440px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.header {
  display: flex;
  flex-direction: row;
  gap: 130px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 135px;
  top: 88px;
}
.frame-556 {
  display: flex;
  flex-direction: row;
  gap: 160px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.logo {
  flex-shrink: 0;
  width: 118px;
  height: 24px;
  position: relative;
}
.start-logo {
  width: 162px;
  height: 74px;
  position: absolute;
  left: -34px;
  top: -30px;
  object-fit: cover;
}
.frame-554 {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 527px;
  position: relative;
}
.header2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.home {
  color: #989191;
  text-align: center;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
}
.under-line {
  opacity: 0.5;
  flex-shrink: 0;
  width: 48px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.under-line2 {
  opacity: 0.5;
  flex-shrink: 0;
  width: 48px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.header3 {
  flex-shrink: 0;
  width: 66px;
  height: 24px;
  position: relative;
}
.contact {
  color: #989191;
  text-align: center;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: absolute;
  right: -7.58%;
  left: -7.58%;
  width: 115.15%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.header4 {
  flex-shrink: 0;
  width: 48px;
  height: 24px;
  position: relative;
}
.about {
  color: #989191;
  text-align: center;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: absolute;
  right: -35.42%;
  left: -35.42%;
  width: 170.83%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.header5 {
  flex-shrink: 0;
  width: 61px;
  height: 24px;
  position: relative;
}
.sign-up {
  color: #989191;
  text-align: center;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: absolute;
  right: -16.39%;
  left: -18.03%;
  width: 134.43%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.frame-552 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.search-component-set {
  background: #574d4d;
  border-radius: 4px;
  padding: 7px 12px 7px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-550 {
  display: flex;
  flex-direction: row;
  gap: 34px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.what-are-you-looking-for {
  color: #989191;
  text-align: left;
  font-family: var(
    --title-12px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-12px-regular-font-size, 12px);
  line-height: var(--title-12px-regular-line-height, 18px);
  font-weight: var(--title-12px-regular-font-weight, 400);
  opacity: 0.5;
  position: relative;
}
.component-2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-551 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.wishlist {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.cart-1-with-buy {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.cart-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.user {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.line-3 {
  width: 1440px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 142px;
  overflow: visible;
}
.roadmap {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 135px;
  top: 222px;
}
.account {
  color: #989191;
  text-align: left;
  font-family: var(
    --title-14px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-14px-regular-font-size, 14px);
  line-height: var(--title-14px-regular-line-height, 21px);
  font-weight: var(--title-14px-regular-font-weight, 400);
  opacity: 0.5;
  position: relative;
}
.line-13 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 13.19px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(117.051deg) scale(1, 1);
}
.nothing {
  color: #989191;
  text-align: left;
  font-family: var(
    --title-14px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-14px-regular-font-size, 14px);
  line-height: var(--title-14px-regular-line-height, 21px);
  font-weight: var(--title-14px-regular-font-weight, 400);
  position: relative;
}
.frame-869 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 101px;
  top: 363px;
}
.historia-y-trayectoria {
  color: #000000;
  text-align: justified;
  font-family: var(--heading-48px-bold-font-family, "Inter-Bold", sans-serif);
  font-size: var(--heading-48px-bold-font-size, 48px);
  line-height: var(--heading-48px-bold-line-height, 52px);
  letter-spacing: var(--heading-48px-bold-letter-spacing, 0.04em);
  font-weight: var(--heading-48px-bold-font-weight, 700);
  position: relative;
}
.frame-868 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-integer-diam-habitant-enim-sapien-morbi-nunc-tempor-vel-bibendum-tempus-metus-condimentum-massa-commodo-ac-mollis-leo-curabitur-semper-tempor-dis-fringilla-quis {
  color: #989191;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
  width: 525px;
}
.vehicula-porta-commodo-curabitur-aptent-sociosqu-suscipit-ligula-pharetra-elementum-gravida-cubilia-massa-convallis-vehicula-porta-commodo-curabitur-aptent-sociosqu-suscipit-ligula-pharetra-elementum-gravida-cubilia-massa-convallis {
  color: #989191;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
  width: 505px;
}
.portrait-two-african-females-holding-shopping-bags-while-reacting-something-their-smartphone-1 {
  background: var(--text1, #7d8184);
  opacity: 0.7;
  width: 669px;
  height: 609px;
  position: absolute;
  left: 697px;
  top: 236px;
}
.frame-891 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 195px;
  position: absolute;
  left: 769px;
  top: 1007px;
}
.misi-n {
  color: #000000;
  text-align: justified;
  font-family: var(
    --heading-54px-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--heading-54px-semibold-font-size, 54px);
  line-height: var(--heading-54px-semibold-line-height, 64px);
  letter-spacing: var(--heading-54px-semibold-letter-spacing, 0.06em);
  font-weight: var(--heading-54px-semibold-font-weight, 600);
  position: relative;
}
.vehicula-porta-commodo-curabitur-aptent-sociosqu-suscipit-ligula-pharetra-elementum-gravida-cubilia-massa-convallis {
  color: #989191;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
  width: 505px;
}
.portrait-two-african-females-holding-shopping-bags-while-reacting-something-their-smartphone-2 {
  background: #c3bdbd;
  opacity: 0.7;
  width: 576px;
  height: 442px;
  position: absolute;
  left: 101px;
  top: 935px;
}
.frame-890 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1265px;
  position: absolute;
  left: 101px;
  top: 1460px;
}
.frame-888 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 391px;
  position: relative;
}
.frame-874 {
  background: var(--text1, #7d8184);
  border-radius: 4px;
  flex-shrink: 0;
  width: 370px;
  height: 430px;
  position: relative;
  overflow: hidden;
}
.frame-884 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-878 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.cristian {
  color: #000000;
  text-align: left;
  font-family: var(
    --heading-32px-medium-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--heading-32px-medium-font-size, 32px);
  line-height: var(--heading-32px-medium-line-height, 30px);
  letter-spacing: var(--heading-32px-medium-letter-spacing, 0.04em);
  font-weight: var(--heading-32px-medium-font-weight, 500);
  position: relative;
}
.founder-chairman {
  color: #000000;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
}
.frame-877 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-twitter {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.group {
  width: 112.75%;
  height: 100%;
  position: absolute;
  right: 8.09%;
  left: -20.83%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.icon-instagram {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.group2 {
  width: 75%;
  height: 75%;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  bottom: 12.5%;
  top: 12.5%;
  overflow: visible;
}
.icon-linkedin {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-887 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-875 {
  background: var(--text1, #7d8184);
  border-radius: 4px;
  flex-shrink: 0;
  width: 370px;
  height: 430px;
  position: relative;
  overflow: hidden;
}
.image-51 {
  width: 294px;
  height: 397px;
  position: absolute;
  left: 38px;
  top: 33px;
}
.frame-885 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-880 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.diana {
  color: #000000;
  text-align: left;
  font-family: var(
    --heading-32px-medium-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--heading-32px-medium-font-size, 32px);
  line-height: var(--heading-32px-medium-line-height, 30px);
  letter-spacing: var(--heading-32px-medium-letter-spacing, 0.04em);
  font-weight: var(--heading-32px-medium-font-weight, 500);
  position: relative;
}
.managing-director {
  color: #000000;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
}
.frame-879 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group3 {
  width: 112.75%;
  height: 100%;
  position: absolute;
  right: 8.09%;
  left: -20.83%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.group4 {
  width: 75%;
  height: 75%;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  bottom: 12.5%;
  top: 12.5%;
  overflow: visible;
}
.icon-linkedin2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-889 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-876 {
  background: var(--text1, #7d8184);
  border-radius: 4px;
  flex-shrink: 0;
  width: 370px;
  height: 430px;
  position: relative;
  overflow: hidden;
}
.image-47 {
  width: 326px;
  height: 392px;
  position: absolute;
  left: 22px;
  top: 38px;
}
.frame-886 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-882 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.james {
  color: #000000;
  text-align: left;
  font-family: var(
    --heading-32px-medium-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--heading-32px-medium-font-size, 32px);
  line-height: var(--heading-32px-medium-line-height, 30px);
  letter-spacing: var(--heading-32px-medium-letter-spacing, 0.04em);
  font-weight: var(--heading-32px-medium-font-weight, 500);
  position: relative;
}
.product-designer {
  color: #000000;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
}
.frame-881 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group5 {
  width: 112.75%;
  height: 100%;
  position: absolute;
  right: 8.09%;
  left: -20.83%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.group6 {
  width: 75%;
  height: 75%;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  bottom: 12.5%;
  top: 12.5%;
  overflow: visible;
}
.icon-linkedin3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-883 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 664px;
  top: 2008px;
}
.ellipse-7 {
  background: #958d8d;
  border-radius: 50%;
  opacity: 0.3;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
}
.ellipse-2 {
  background: #958d8d;
  border-radius: 50%;
  opacity: 0.3;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
}
.group-1000005940 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: static;
}
.ellipse-4 {
  background: #908585;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 51px;
  top: 3px;
}
.ellipse-5 {
  border-radius: 50%;
  border-style: solid;
  border-color: #958d8d;
  border-width: 2px;
  opacity: 0.3;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 48px;
  top: 0px;
}
.ellipse-3 {
  background: #958d8d;
  border-radius: 50%;
  opacity: 0.3;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
}
.ellipse-6 {
  background: #958d8d;
  border-radius: 50%;
  opacity: 0.3;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
}
.footer {
  background: var(--text1, #7d8184);
  width: 1440px;
  height: 402px;
  position: absolute;
  left: 0px;
  top: 2503px;
  overflow: hidden;
}
.frame-643 {
  opacity: 0.4;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 376px;
}
.under-line3 {
  opacity: 0.5;
  flex-shrink: 0;
  width: 1440px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-67 {
  opacity: 0.6;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-66 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-copyright {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.group7 {
  width: 83.33%;
  height: 83.33%;
  position: absolute;
  right: 8.33%;
  left: 8.33%;
  bottom: 8.33%;
  top: 8.33%;
  overflow: visible;
}
.copyright-rimel-2022-all-right-reserved {
  color: #756d6d;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
}
.frame-743 {
  background: var(--text1, #7d8184);
  display: flex;
  flex-direction: row;
  gap: 87px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 135px;
  top: 80px;
}
.frame-717 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-716 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-715 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.suscribirse {
  color: #141111;
  text-align: left;
  font-family: var(
    --title-20px-medium-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--title-20px-medium-font-size, 20px);
  line-height: var(--title-20px-medium-line-height, 28px);
  font-weight: var(--title-20px-medium-font-weight, 500);
  position: relative;
}
.get-10-off-your-first-order {
  color: #141111;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
}
.send-mail {
  border-radius: 4px;
  border-style: solid;
  border-color: #141111;
  border-width: 1.5px;
  padding: 12px 0px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 217px;
  position: relative;
}
.enter-your-email {
  color: #141111;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  opacity: 0.4;
  position: relative;
}
.icon-send {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-713 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.sop-rte {
  color: #141111;
  text-align: left;
  font-family: var(
    --title-20px-medium-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--title-20px-medium-font-size, 20px);
  line-height: var(--title-20px-medium-line-height, 28px);
  font-weight: var(--title-20px-medium-font-weight, 500);
  position: relative;
}
.frame-712 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._111-bijoy-sarani-dhaka-dh-1515-bangladesh {
  color: #141111;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
  width: 175px;
}
.exclusive-gmail-com {
  color: #141111;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
}
._88015-88888-9999 {
  color: #141111;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
}
.frame-711 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.cuenta {
  color: #181616;
  text-align: left;
  font-family: var(
    --title-20px-medium-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--title-20px-medium-font-size, 20px);
  line-height: var(--title-20px-medium-line-height, 28px);
  font-weight: var(--title-20px-medium-font-weight, 500);
  position: relative;
}
.frame-710 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.my-account {
  color: #181616;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
}
.login-register {
  color: #181616;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
}
.cart {
  color: #181616;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
}
.wishlist2 {
  color: #181616;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
}
.shop {
  color: #181616;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
}
.frame-709 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.quick-link {
  color: #110f0f;
  text-align: left;
  font-family: var(
    --title-20px-medium-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--title-20px-medium-font-size, 20px);
  line-height: var(--title-20px-medium-line-height, 28px);
  font-weight: var(--title-20px-medium-font-weight, 500);
  position: relative;
}
.frame-708 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.privacy-policy {
  color: #110f0f;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
}
.terms-of-use {
  color: #110f0f;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
}
.faq {
  color: #110f0f;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
}
.contact2 {
  color: #110f0f;
  text-align: left;
  font-family: var(
    --title-16px-regular-font-family,
    "Poppins-Regular",
    sans-serif
  );
  font-size: var(--title-16px-regular-font-size, 16px);
  line-height: var(--title-16px-regular-line-height, 24px);
  font-weight: var(--title-16px-regular-font-weight, 400);
  position: relative;
}
.frame-742 {
  background: var(--text1, #7d8184);
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-721 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.download-app {
  color: #1a1818;
  text-align: left;
  font-family: var(
    --title-20px-medium-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--title-20px-medium-font-size, 20px);
  line-height: var(--title-20px-medium-line-height, 28px);
  font-weight: var(--title-20px-medium-font-weight, 500);
  position: relative;
}
.frame-720 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.save-3-with-app-new-user-only {
  color: #131212;
  text-align: left;
  font-family: var(
    --title-12px-medium-font-family,
    "Poppins-Medium",
    sans-serif
  );
  font-size: var(--title-12px-medium-font-size, 12px);
  line-height: var(--title-12px-medium-line-height, 18px);
  font-weight: var(--title-12px-medium-font-weight, 500);
  opacity: 0.7;
  position: relative;
}
.frame-719 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.qr-code {
  background: #0f0f10;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
}
.qrcode-1 {
  border-style: solid;
  border-color: #080707;
  border-width: 2.5px;
  width: 76px;
  height: 76px;
  position: absolute;
  left: 2px;
  top: 2px;
  object-fit: cover;
}
.frame-718 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.google-play {
  flex-shrink: 0;
  width: 110px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.app-store {
  background: #0f0f10;
  flex-shrink: 0;
  width: 110px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.download-appstore {
  border-radius: 4px;
  border-style: solid;
  border-color: #080707;
  border-width: 0.6px;
  width: 104px;
  height: 34px;
  position: absolute;
  left: 3px;
  top: 3px;
  object-fit: cover;
}
.frame-741 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-facebook {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.group8 {
  width: 112.75%;
  height: 100%;
  position: absolute;
  right: 8.09%;
  left: -20.83%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.group9 {
  width: 75%;
  height: 75%;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  bottom: 12.5%;
  top: 12.5%;
  overflow: visible;
}
.icon-linkedin4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
