.card {
    position: relative;
    margin: 15px;
}
.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: gray;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}
.heart-icon.active {
    color: greenyellow;
}
.btn-black {
    background-color: black !important;
    color: white !important;
    width: 100% !important;
}
.card-img-top {
    background-color: rgb(236, 229, 229); /* Fondo gris */
    object-fit: cover; /* Ajusta la imagen al contenedor sin distorsión */
    width: 100%; /* Asegura que la imagen ocupe el ancho completo */
    height: 200px; /* Ajusta la altura según lo que necesites */
}
.info{
    margin-left: 8px;
}

/* estrellas */
.clasificacion {
    display: flex;
    justify-content: flex-start; /* Alinea las estrellas a la izquierda */
    gap: 2px; /* Espaciado entre estrellas */
    margin-top: 10px; /* Separación con otros elementos */
    margin-bottom: 5px;
}

.clasificacion i {
    font-size: 14px; /* Tamaño de las estrellas */
    color: gold; /* Color amarillo para las estrellas */
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup.hidden {
    display: none;
}

.popup-content {
    background-color: #fff;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

#cart-items-container {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px;
}
